body{
	margin:0 auto;
	padding:0;
	background-color:black;
	color:silver;
}

.div1{
    width:1300px;
	height:600px;
	
	margin:30px 30px 0 30px;
}

.div2{
	height:560px;
	width:350px;
	
	float:left;
	margin:20px;
}

.div3{
	height:560px;
	width:860px;
	
	float:left;
	margin:20px;
}

.div4{
	margin-top:60px;
	height:50px;
	width:300px;
    padding:0;
	margin-left:50px;
	
}

.div5{
	height:237px;
	width:131px;
	
	margin-left:100px;
	margin-bottom:30px;
}

.div6{
	height:100px;
	width:130px;
	
	margin-top:400px;
	text-align:center;
	line-height:30px;
	color:black;
	font-weight:bold;
	font-family:"楷体";
	font-size:24px;
	margin-left:1.25px;
}

.span1{
	height:500px;
	width:135px;
	margin:18px;
	float:left;
	background:yellow;
	border-radius:15px;
}

.p1{
	font-size:20px;
	color:yellow;
	font-weight:bolder;
	margin-left:39px;
}

.img1{
	width:131px;
	height:237px;
}

.basis{
	
	width:300px;
	height:120px;
	margin-left:25px;
	margin-top:0px;
}



	